.dish_page__main {
    position: relative;
    margin: 0 auto;
    padding: 1em 1em 1em;
    background-color: #fff;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    zoom: 100%;
}

.dish_page__logo {
    display: inline-block;
}

.dish_page__topnav {
    position: absolute;
    top: 20px;
    right: 1em;
}

.dish_page__title h1 {
    color: #025c1f;
    text-transform: uppercase;
}

/* Scale down too wide images from the parsys */
.dish_page__par img {
    max-width: 100%;
}

.dish_page__copyright {
    margin-bottom: 0;
}
